.cal-body {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
  }
  
  .cal-body div:hover:not(.dayName) {
    background-color: rgba(144, 95, 50, 0.3);
    cursor:default;
  }  

  .cal-body div:not(.dayName){
    max-width: 18px;
    max-height: 18px;
    border-radius: 5px;
  }

  #main {
    display: grid;
    grid-template-columns: 250px;
  }
  
  .weekend {
    font-style: italic;
    color: red;
    /* background-color: rgba(red, green, blue, 0.2);
    */
  }
  .active {
    background-color: rgba(144, 95, 50, 0.3);
  }
  
  #main section {
    margin: 10px;
    border: 1px solid black;
    width: 195px;
    padding: 10px;
    background-color: antiquewhite;
  }
  .cal-head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .cal-btn {
    width: 20px;
    font-size: 13px;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }
  
  .cal-head span:not(.cal-btn) {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .today {
    background: rgba(144, 95, 50, 0.3);
    border-radius: 5px;
  }
  